.pie-dchart-container{
  width: 70%;
  padding-top: 24px;
}

.doughnut-container{
  width: 49%;
  min-width: 360px;
  height: 300px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.doughnuts-container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pie-chart-title{
  text-align: center;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  color: rgb(255, 255, 255);
  letter-spacing: -0.005em;
}

.d-title{
  position: sticky;
  top: 0px;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

@media(max-width:760px){
  .pie-chart-container{
    width: 100%;
  }
}
