.table-container{
    width: 100%;
    /* margin: 0px 48px; */
    text-align: center;
    font-size: 14px;
    min-height: 64px;
    padding: 20px 0px;
    font-family: "Source Sans Pro", sans-serif;
    padding-left: 4%;
}

.table-my{
  width: 100% !important;
  color: #ffff !important;
}

.table-container{
  padding-left: 2%;
  /* padding-right: 2%; */
  align-items: center;
  justify-content: center;
  display: flex;
  width: 46%;
  min-width: 500px;
}